@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #FBEEDD;
  --body-fg: #3C473E;
  --foot-bg: #3C473E;
  --foot-fg: #FBEEDD;
  --g0: #624CB9;
  --g1: #C079AA;
  --g2: #FFBCA0;
  --g3: #FFCBAA;
  --g4: #FFDCD2;
  --g5: #FBEEDD;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 18vh;
  color: var(--foot-fg);
  background: var(--foot-bg);
}

body {
  color: var(--body-fg);
  background: linear-gradient(to bottom, var(--g0), var(--g1) 20vh, var(--g2) 40vh, var(--g3) 55vh, var(--g4) 70vh, var(--g5) 100vh);
  width: 100vw;
  height: 120vh;
  font-family: Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

