@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: hsl(var(--twc-text-accent));
}

.content {
  width: 64vw;
  position: relative;
  margin: auto;
  text-align: center;
  z-index: 0;
}

h1 {
  font-size: 8vh;
  white-space: pre-wrap;
}

h2 {
  font-size: 6vh;
  white-space: pre-wrap;
}

h3 {
  font-size: 4vh;
  white-space: pre-wrap;
}

p {
  font-size: 2.25vh;
  white-space: pre-wrap;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 18vh;
  color: hsl(var(--twc-base-light));
  background: hsl(var(--twc-base-dark));
}

.background {
  color: hsl(var(--twc-text-accent));
  background: linear-gradient(to bottom, hsl(var(--twc-g0)), hsl(var(--twc-g1)) 20vh, hsl(var(--twc-g2)) 40vh, hsl(var(--twc-g3)) 55vh, hsl(var(--twc-g4)) 70vh, hsl(var(--twc-g5)) 100vh);
  width: 100vw;
  height: 120vh;
  font-family: Helvetica, Arial, sans-serif;
  z-index: -5;
  position: fixed;
}

.navbar {
  height: 40vh;
  position: sticky;
  margin: auto;
  top: 0;
  z-index: 10;
  color: hsl(var(--twc-text-nav));
  -webkit-mask-image: linear-gradient(to bottom, black 10vh, rgba(0, 0, 0, 0.97) 15vh, rgba(0, 0, 0, 0) 40vh);
  mask-image: linear-gradient(to bottom, black 10vh, rgba(0, 0, 0, 0.97) 15vh, rgba(0, 0, 0, 0) 40vh);
  background: linear-gradient(to bottom, hsl(var(--twc-g0)), hsl(var(--twc-g1)) 20vh, hsl(var(--twc-g2)) 40vh);
}

.gradient-blur {
  position: static;
  z-index: 1;
  position: top;
  height: 40vh;
  pointer-events: none;
}

.gradient-blur::before {
  position: fixed;
  height: 40vh;
  inset: 0;
  content: "";
  z-index: 1;
  backdrop-filter: blur(20px) brightness(90%);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

