@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: hsl(var(--twc-text-accent));
}

.content-about {
  width: 64vw;
  position: relative;
  top: 0;
  margin: auto;
  text-align: left;
  z-index: 0;
}

.content-gallery {
  width: 64vw;
  position: relative;
  top: 0;
  margin: auto;
  text-align: center;
  z-index: 0;
}

h1 {
  font-size: 8vh;
  white-space: pre-wrap;
}

h1.home {
  font-size: 16vh;
  white-space: pre-wrap;
}

h2 {
  font-size: 6vh;
  white-space: pre-wrap;
}

h3 {
  font-size: 4vh;
  white-space: pre-wrap;
}

h4 {
  font-size: 3.25vh;
  white-space: pre-wrap;
}

p {
  font-size: 2.25vh;
  white-space: pre-wrap;
}

.background {
  color: hsl(var(--twc-text-accent));
  background: linear-gradient(to bottom, hsl(var(--twc-g0)), hsl(var(--twc-g1)) 20vh, hsl(var(--twc-g2)) 39vh, hsl(var(--twc-g3)) 55vh, hsl(var(--twc-g4)) 70vh, hsl(var(--twc-g5)) 100vh);
  width: 100vw;
  height: 120vh;
  font-family: Helvetica, Arial, sans-serif;
  z-index: -5;
  position: fixed;
}

.page-bottom {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer {
  position: sticky;
  padding: 2vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  color: hsl(var(--twc-base-dark));
  background-color: hsl(var(--twc-g5));
  border-color: hsl(var(--twc-base-dark));
  border-width: 1vh;
}

.footer-home {
  position: relative;
  top: 5vh;
  color: hsl(var(--twc-base-dark));
  border-color: hsl(var(--twc-base-dark));
  border-width: 1vh;
}

.navbar {
  position: sticky;
  margin: auto;
  top: 0;
  z-index: 100;
  color: hsl(var(--twc-base-light));
  border-color: hsl(var(--twc-base-dark));
  border-width: 1vh;
  font-size: min(5vh, 4vw);
  -webkit-mask-image: linear-gradient(to bottom, black 10vh, rgba(0, 0, 0, 0.97) 15vh, rgba(0, 0, 0, 0) 39vh);
  mask-image: linear-gradient(to bottom, black 10vh, rgba(0, 0, 0, 0.97) 15vh, rgba(0, 0, 0, 0) 39vh);
  background: linear-gradient(to bottom, hsl(var(--twc-g0)), hsl(var(--twc-g1)) 20vh, hsl(var(--twc-g2)) 39vh);
}

.navbar-home {
  position: relative;
  margin: auto;
  width: 100vw;
  top: 2.5vh;
  color: hsl(var(--twc-base-dark));
  border-color: hsl(var(--twc-base-dark));
  border-width: 1vh;
  font-size: min(5vh, 4vw);
}

.header {
  position: sticky;
  top: 0;
}

.portrait {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  opacity: 50%;
  filter: blur(1px);
  mix-blend-mode: difference;
}

.home {
  position: relative;
  margin: auto;
  top: 10vh;
}

.gradient-blur {
  position: sticky;
  margin: auto;
  top: 0;
  z-index: 1;
  height: 39vh;
  backdrop-filter: blur(20px) brightness(90%);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradient-blur::before {
  position: fixed;
  height: 39vh;
  inset: 0;
  content: "";
  z-index: 1;
  backdrop-filter: blur(20px) brightness(90%);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.noise {
  background: url("./components/noise.svg");
  mix-blend-mode: color-burn;
  opacity: 35%;
  width: 100vw;
  height: 120vh;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

.logo-invert {
  -webkit-filter: invert(1);
  filter:invert(1);
  mix-blend-mode: difference;
}

.scroll-bg {
  width: 100vw;
  height: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}